<mat-card>
    <mat-dialog-content [formGroup]="busqueda">
        <mat-form-field appearance="outline">
            <mat-label>Documento identidad</mat-label>
            <input matInput placeholder="dni" [formControlName]="'docIdentidad'" name="docIdentidad">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </mat-dialog-content>
    
    <button class="buscarPrestamos" mat-stroked-button (click)="buscarPrestamos()">Buscar Prestamos</button>

    <button class="CrearPrestamo" id="crearPrestamo" mat-stroked-button (click)="crearPrestamo()">Crear Prestamos</button>

    <table mat-table [dataSource]="listaPrestamos" class="mat-elevation-z8">

        <ng-container matColumnDef="nombrePelicula">
            <th mat-header-cell *matHeaderCellDef> Nombre pelicula </th>
            <td mat-cell *matCellDef="let element" id="nombrePelicula"> {{element.pelicula.idPelicula}}-{{element.pelicula.nombrePelicula}} </td>
        </ng-container>

        <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef> Genero </th>
            <td mat-cell *matCellDef="let element" id="genero"> {{element.pelicula.genero}} </td>
        </ng-container>

        <ng-container matColumnDef="valorPrestamo">
            <th mat-header-cell *matHeaderCellDef> Valor del prestamo </th>
            <td mat-cell *matCellDef="let element" id="genero"> {{element.valorPrestamo}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="eliminar(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
